name: "Good Pipeline"
on:  
  push:
    branches:
      - main
jobs:  
  build-and-deploy:    
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: A Produccion
        uses: ./.github/actions/install

      - name: Declarar variables
        run: echo "Usuario ${{ secrets.DB_USER_DEV }}, Contraseña ${{ secrets.DB_PASS_DEV }}, Key ${{ secrets.API_KEY_DEV }},"